<p id="notice"><%= notice %></p>

<h1>Ticket Files</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>User</th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_files.each do |ticket_file| %>
      <tr>
        <td><%= ticket_file.ticket_id %></td>
        <td><%= ticket_file.user_id %></td>
        <td><%= ticket_file.mensaje %></td>
        <td><%= link_to 'Show', ticket_file %></td>
        <td><%= link_to 'Edit', edit_ticket_file_path(ticket_file) %></td>
        <td><%= link_to 'Destroy', ticket_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket File', new_ticket_file_path %>
