<%= form_with(model: departament, local: true) do |form| %>
  <% if departament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
      <% departament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
  <div class="form-group">
    <%= form.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :departament_name, class: 'form-control ' %>
   </div>
  </div>
</fieldset>

  <fieldset>
    <div class="form-group">

        <%= form.label :corporation_id , class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
        <%= form.collection_select(:corporation_id, Corporation.all, :id, :name, {:prompt => 'Seleccionar una corporation', :selected => @departament.corporation_id},{:class =>'form-control'}) %>
      </div>


    </div>
  </fieldset>


  <fieldset>
    <div class="actions">
      <%= link_to 'Regresar', departaments_path, class: 'btn btn-sm btn-default' %>
      <%#= link_to 'Mostrar', @company , class: 'btn btn-sm btn-default' %>
      <%= form.submit class: 'btn btn-sm btn btn-primary' %>

    </div>
  </fieldset>
<% end %>
