<p id="notice"><%= notice %></p>

<h1>Asignacion Equipos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Categoria</th>
      <th>Equipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacion_equipos.each do |asignacion_equipo| %>
      <tr>
        <td><%= asignacion_equipo.user.nombres %> <%= asignacion_equipo.user.apellidos %></td>
        <td><%= asignacion_equipo.categoria.nombre %></td>
        <td><%= asignacion_equipo.equipo.nombre %></td>
        <td><%= link_to 'Show', asignacion_equipo %></td>
        <td><%= link_to 'Edit', edit_asignacion_equipo_path(asignacion_equipo) %></td>
        <td><%= link_to 'Destroy', asignacion_equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion Equipo', new_asignacion_equipo_path %>
